@import './colors.css';
@import '../font/Nunito/index.css';

@import './components/main_header/index.less';
@import './components/main_header/unicode_search_bar.less';
@import './components/main_header/box_links.less';

@import './components/main_section/index.less';
@import './components/main_section/unicode_section/index.less';
@import './components/main_section/unicode_section/group_details.less';
@import './components/main_section/unicode_section/unicodes_list.less';
@import './components/main_section/unicode_section/unicode_charcter.less';

@import './components/main_footer/index.less';
@import './components/main_footer/copyright.less';
@import './components/main_footer/underline_links.less';

@import './modifiers/focus_underline.less';
@import './modifiers/focus_box.less';


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito';
    outline: none;
    color-scheme: dark;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--neutral-shade-700-color);
    height: 100vh;
}
