@import './colors.css';

.main {
    padding: 20% 30%;
    display: grid;
    gap: 3px;
    grid-auto-flow: column;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(6, 1fr);

    
    
}

span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(0px);
}
div {
    width: 100px;
    height: 30px;
    border-radius: 3px;

    &:nth-child(1) { background-color: var(--neutral-shade-100-color); }
    &:nth-child(2) { background-color: var(--neutral-shade-200-color); }
    &:nth-child(3) { background-color: var(--neutral-shade-300-color); }
    &:nth-child(4) { background-color: var(--neutral-shade-400-color); }
    &:nth-child(5) { background-color: var(--neutral-shade-500-color); }
    &:nth-child(6) { background-color: var(--neutral-shade-600-color); }
    &:nth-child(7) { background-color: var(--neutral-shade-700-color); }
    &:nth-child(8) { background-color: var(--neutral-shade-800-color); }
    &:nth-child(9) { background-color: var(--neutral-shade-900-color); }

    &:nth-child(10) { background-color: var(--primary-shade-100-color); }
    &:nth-child(11) { background-color: var(--primary-shade-200-color); }
    &:nth-child(12) { background-color: var(--primary-shade-300-color); }
    &:nth-child(13) { background-color: var(--primary-shade-400-color); }
    &:nth-child(14) { background-color: var(--primary-shade-500-color); }
    &:nth-child(15) { background-color: var(--primary-shade-600-color); }
    &:nth-child(16) { background-color: var(--primary-shade-700-color); }
    &:nth-child(17) { background-color: var(--primary-shade-800-color); }
    &:nth-child(18) { background-color: var(--primary-shade-900-color); }

    &:nth-child(19) { background-color: var(--success-shade-100-color); }
    &:nth-child(20) { background-color: var(--success-shade-200-color); }
    &:nth-child(21) { background-color: var(--success-shade-300-color); }
    &:nth-child(22) { background-color: var(--success-shade-400-color); }
    &:nth-child(23) { background-color: var(--success-shade-500-color); }
    &:nth-child(24) { background-color: var(--success-shade-600-color); }
    &:nth-child(25) { background-color: var(--success-shade-700-color); }
    &:nth-child(26) { background-color: var(--success-shade-800-color); }
    &:nth-child(27) { background-color: var(--success-shade-900-color); }

    &:nth-child(28) { background-color: var(--warning-shade-100-color); }
    &:nth-child(29) { background-color: var(--warning-shade-200-color); }
    &:nth-child(30) { background-color: var(--warning-shade-300-color); }
    &:nth-child(31) { background-color: var(--warning-shade-400-color); }
    &:nth-child(32) { background-color: var(--warning-shade-500-color); }
    &:nth-child(33) { background-color: var(--warning-shade-600-color); }
    &:nth-child(34) { background-color: var(--warning-shade-700-color); }
    &:nth-child(35) { background-color: var(--warning-shade-800-color); }
    &:nth-child(36) { background-color: var(--warning-shade-900-color); }

    &:nth-child(37) { background-color: var(--danger-shade-100-color); }
    &:nth-child(38) { background-color: var(--danger-shade-200-color); }
    &:nth-child(39) { background-color: var(--danger-shade-300-color); }
    &:nth-child(40) { background-color: var(--danger-shade-400-color); }
    &:nth-child(41) { background-color: var(--danger-shade-500-color); }
    &:nth-child(42) { background-color: var(--danger-shade-600-color); }
    &:nth-child(43) { background-color: var(--danger-shade-700-color); }
    &:nth-child(44) { background-color: var(--danger-shade-800-color); }
    &:nth-child(45) { background-color: var(--danger-shade-900-color); }

    &:nth-child(46) { background-color: var(--info-shade-100-color); }
    &:nth-child(47) { background-color: var(--info-shade-200-color); }
    &:nth-child(48) { background-color: var(--info-shade-300-color); }
    &:nth-child(49) { background-color: var(--info-shade-400-color); }
    &:nth-child(50) { background-color: var(--info-shade-500-color); }
    &:nth-child(51) { background-color: var(--info-shade-600-color); }
    &:nth-child(52) { background-color: var(--info-shade-700-color); }
    &:nth-child(53) { background-color: var(--info-shade-800-color); }
    &:nth-child(54) { background-color: var(--info-shade-900-color); }
}
